@font-face {
    font-family: 'fredoka';
    src: url('~@/assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TiltNeon';
    src: url('~@/assets/fonts/TiltNeon-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'fabulous';
    src: url('~@/assets/fonts/NT Fabulous.otf') format('opentype');
}

@font-face {
    font-family: 'brightwall';
    src: url('~@/assets/fonts/Brightwall.ttf') format('truetype');
}

@font-face {
    font-family: 'glacial_bold';
    src: url('~@/assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'glacial';
    src: url('~@/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
}